.theme-switcher
  width: 100%
  height: auto

.theme-switcher__wrapper
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row-reverse

.theme-switcher__label
  color: var(--secondary-text-color)
  font-weight: bold
  cursor: pointer

  &:hover
    filter: brightness(1.3)

.theme-switcher__mode
  height: 88%
  width: 1.6em
  border-radius: 50%
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  background-color: var(--top-pattern-color)
  transition: left .3s, background-color .1s
  left: 0px

  &.theme-switcher_dark-mode_true
    left: 3px

  &.theme-switcher_dark-mode_false
    left: calc(100% - 50% + 5px)
 
.theme-switcher__button
  width: 4.2rem
  height: 1.7rem
  padding: 10px
  border-radius: 20px
  background: var(--bg-toggle-button)
  position: relative
  cursor: pointer

  &:hover
    filter: brightness(1.3)
  
  &:hover + label
    filter: brightness(1.3)